[Unit]
Description=Monitor udev events for triggering system notifications
Wants=udev-notify-usb.service udev-notify-blk.service
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true

[Install]
WantedBy=graphical-session.target
